Android Open Source Project
Google
JetBrains
Outline
Postman
Qt
QtProject
QtProject.conf
chromium
clangd
dconf
discord
dlv
flameshot
flutter
gh
gitui
go
godot
google-chrome
google-chrome-for-testing
htop
libreoffice
ngrok
pavucontrol.ini
pacseek
protonvpn
pulse
qBittorrent
systemd
user-dirs.dirs
user-dirs.locale
GIMP
gtk-2.0
wezterm
nvim
GitKraken
lazygit
obs-studio/
openfreebuds/
vlc/
obsidian/
.avalonia-build-tasks/
AmneziaVPN.ORG/
AvantGarde/
Code - OSS/
Cursor/
Gaijin/
TeamSpeak/
Ultralytics/
WarThunder/
Windsurf/
bless/
evans/
figma-linux/
fyne/
gopls/
helm/
hydra/
hydralauncher/
icedtea-web/
inkscape/
kdeglobals
kolourpaintrc
mmctl/
nextjs-nodejs/
nyxt/
qutebrowser/autoconfig.yml
rustdesk/
swi-prolog/
yandex-cloud/
yarn/
RescueTime.com
autostart/
composer/
configstore/
fvm/
nekoray/
telebit/
tuna/
libvirt/
